<div>
  <h1>Testing Mån 16/10 09:00</h1>
  <button (click)="toggleData()">
    {{ showData ? 'Hide Data' : 'Show Data' }}
  </button>
  <div *ngIf="showData">
    <div *ngFor="let ship of data">
      <h2>{{ ship.name }}</h2>
      <div>Capacity: {{ ship.capacity }}</div>
    </div>
  </div>
  <div>
    <input [(ngModel)]="shipName" placeholder="Ship Name" />
    <input type="number" [(ngModel)]="shipCapacity" placeholder="Ship Capacity" />
    <button (click)="addShip()">Add Ship</button>
  </div>
</div>